@media(min-width:977px) {
    body {
        background: url(../img/bg.jpg) no-repeat center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .nav a {
        font-size: 1.5em !important;
        background: -webkit-linear-gradient(white,blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav a:hover {
        background: -webkit-linear-gradient(white, lightgray);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-nav {
        height: 50px;
    }
    	 #logo {
        
        height: 120px;
    }
	#Carousel {
        position: relative;
        top: 50px;
		
    }
 
    .publihor {
        position: relative;
        float: right;
        width: 306px;
        top: 125px;
        right: 25px;
    }
    .publiver {
        display: none;
    }
    .thumbnail {
        background:lightslategrey !important;
        border: solid black 4px !important;
    }
    .thumbnail h1 {
        color: white !important;
        font-family: Verdana, sans-serif !important;
    }
    .thumbnail p {
        color: navajowhite !important;
        font-family: Verdana, sans-serif !important;
    }
    .thumbnail li {
        color: navajowhite !important;
        font-family: Verdana, sans-serif !important;
    }

    .thumbnail {
        position: relative;
    }
    #noticias {
        position: relative;
        float: left;
        width: calc(100% - 380px);
        top: 125px;
        left: 25px;
    }
    .imgNoticia {
        width: 100% !important;
    }


}
@media(max-width:976px) {
    body {
        background: url(../img/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
	   #Carousel {
        position: relative;
        top: 50px;
		
    }
 .nav a {
        font-size: 1.8em !important;
        font-family: Verdana, sans-serif !important;
        background: -webkit-linear-gradient(white, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav a:hover {
        background: -webkit-linear-gradient(white, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav li {
        padding-right: 5px;
    }
    .navbar-brand > img {
        max-height: 280%;
        height: 280%;
        width: auto;
        margin: 0 auto;
        -o-object-fit: contain;
        object-fit: contain;
    }

    @media(max-width:768px) {
   
        .navbar-nav > li > a {
            line-height: 15px !important;
        }
        .publicidadver {
            position: relative;
            width: 100%;
            height: 90px;
            top: 75px;
        }
        .publicidadhor{
            display:none;
        }
      
    }
    .thumbnail {
       background: lightslategrey !important;
        border: solid black 4px !important;
    }
    .thumbnail h1 {
        text-align: left !important;
        color: #ebdec2 !important;
        font-family: Verdana, sans-serif !important;
    }
    .thumbnail p {
        color: #ebdec2 !important;
        font-family: Verdana, sans-serif !important;
    }
    .thumbnail li {
        color: #ebdec2 !important;
        font-family: Verdana, sans-serif !important;
    }

    .publiver {
        position: relative;
        width: 100%;
        height: 90px;
        top: 125px;
    }
    .publihor {
        display: none;
    }
    #noticias {
        position: relative;
        top: 150px;
 
 }
}